body {
  background-color: #c5ded7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c09853;
  border-width: 1px;
  width: 100%
}

h1 {
  color: #1e836c;
}

h3 {
  color: #1e836c;
}

ul {
  line-height: 1.75;
}
